<div class="nav-conatiner">
  <header class="header" id="header">
    <div class="header__main">

        <!-- Logo -->
        <div class="header__main__logo-area">
            <a href="/" class="header__main__logo-area__logo">
              <img src="logo.png" alt="">
            </a>
        </div>
        <!-- Main Nav -->
        <nav class="header__main__nav">
            <div class="header__main__nav__list">
                                    <li class="header__main__nav__list__item">
                                                    <span class="header__main__nav__list__item__link mega" navelement="Destinations"><a href="/destination">Destinations</a></span>
                                            </li>
                                    <li class="header__main__nav__list__item">
                                                    <span class="header__main__nav__list__item__link mega" navelement="Experiences"><a href="/activities">Experiences</a></span>
                                            </li>
                                    <li class="header__main__nav__list__item">
                                                    <a class="header__main__nav__list__item__link no-mega" href="" navelement="Deals">Festivals</a>
                                            </li>
                                    <li class="header__main__nav__list__item">
                                                    <a class="header__main__nav__list__item__link no-mega" href="https://www.rainforestcruises.com/about" navelement="About">About</a>
                                            </li>
                            </div>
        </nav>
        <!-- Right Side -->
        <div class="header__main__right">



            <!-- Language Switch -->
                        <div class="header__main__right__agents divider-left">
                <a class="" href="">
                    Login
                </a>
            </div>
            <!-- Burger Menu -->
            <div class="burger-button" id="burger-menu">
                <span class="burger-button__bar "></span>
            </div>

        </div>
    </div>

  <nav class="nav-secondary-mobile">
    <ul class="nav-secondary-mobile__list">

        <!-- Order depending on template type -->
                    <li class="nav-secondary-mobile__list__item">
                <a href="#cruises" class="nav-secondary-mobile__list__item__link current">Cruises</a>
            </li>
                        <li class="nav-secondary-mobile__list__item">
                <a href="#packages" class="nav-secondary-mobile__list__item__link">Packages</a>
            </li>


        <li class="nav-secondary-mobile__list__item">
            <a href="#travel-guide" class="nav-secondary-mobile__list__item__link">Travel Guide</a>
        </li>

                <li class="nav-secondary-mobile__list__item" href="#faq">
            <a href="#faq" class="nav-secondary-mobile__list__item__link">FAQ</a>
        </li>

    </ul>
  </nav>
  </header>
</div>
