a{
  text-decoration: none;
  color: white;
}
.header
{
  background-image: url(https://www.authenticindiatours.com/app/uploads/2022/05/10-reasons-to-visit-Kerala-Kumarakom-Back-Waters-Boat-House-1400x550-c-default.jpg);
  position: fixed;
top: 0px;
}
.header__main__logo-area__logo img
{
left: 1px;
 width: 100%;
 height: 50px;
}


