<section class="deals-page__section-hero">
  <div class="deals-hero">
    <h2 class="sub-divider destination-main__experiences-title   ">
      {{district.title}}
     </h2>

<div class="deals-hero__subtext">
  <p>{{district_description}}</p>
</div>


 <app-carousel [data]="district.places_to_visit"></app-carousel>
<!-- Feature Row -->
<div class="deals-hero__row">

  <!-- Feature-->
  <a class="deal-card" href="">
    <div class="deal-card__image">
        <img src="https://miro.medium.com/v2/resize:fit:1400/1*fiUjWi7dLFm5H2xfTqvV5Q.jpeg" srcset="" alt="ecuador honeymoon, happy couple on the beach" sizes="(max-width: 0px) 100vw, 0px" class="lazyloaded" data-ll-status="loaded"><noscript><img src="https://res.cloudinary.com/rainforest-cruises/images/c_fill,g_auto/f_auto,q_auto/w_650,h_425,c_fill,g_auto/v1625766485/shutterstock_1634860840-Main/shutterstock_1634860840-Main-650x425.jpg" srcset="" sizes="(max-width: 0px) 100vw, 0px" alt="ecuador honeymoon, happy couple on the beach"></noscript>
    </div>
    <div class="deal-card__content">
        <h2 class="deal-card__content__title">
         KERALA
        </h2>
        <div class="deal-card__content__cta">
            <p >
              Kerala, a state situated on the tropical Malabar Coast of southwestern India, is one of the most popular tourist destinations in the country. Named as one of the ten paradises of the world by National Geographic Traveler,[1
             </p>
        </div>
    </div>
</a>
</div>

<!-- B -->
<!-- Triple Row -->
<div class="deals-hero__row">

  <!-- Card 1 -->
  <a class="deal-card" href="https://www.rainforestcruises.com/winter-cruise-deals">
      <div class="deal-card__image">
          <img src="https://media.tacdn.com/media/attractions-splice-spp-674x446/07/0b/d0/64.jpg" srcset="" alt="Fitz Roy Mountain In Patagonia" sizes="(max-width: 0px) 100vw, 0px" class="lazyloaded" data-ll-status="loaded"><noscript><img src="https://res.cloudinary.com/rainforest-cruises/images/c_fill,g_auto/f_auto,q_auto/w_650,h_425,c_fill,g_auto/v1626698133/shutterstock_638712340-patagonia-winter/shutterstock_638712340-patagonia-winter-650x425.jpg" srcset="" sizes="(max-width: 0px) 100vw, 0px" alt="Fitz Roy Mountain In Patagonia"></noscript>
      </div>
      <div class="deal-card__content">
          <h2 class="deal-card__content__title">
              Baackwaters              </h2>
          <div class="deal-card__content__cta">

          </div>
      </div>
  </a>


  <!-- Card 2 -->
  <a class="deal-card" href="">
      <div class="deal-card__image">
          <img src="https://e1.pxfuel.com/desktop-wallpaper/134/436/desktop-wallpaper-kathakali-performer-class-lazyload-data-click-tracked-kathakali.jpg" srcset="" alt="ecuador honeymoon, happy couple on the beach" sizes="(max-width: 0px) 100vw, 0px" class="lazyloaded" data-ll-status="loaded"><noscript><img src="https://res.cloudinary.com/rainforest-cruises/images/c_fill,g_auto/f_auto,q_auto/w_650,h_425,c_fill,g_auto/v1625766485/shutterstock_1634860840-Main/shutterstock_1634860840-Main-650x425.jpg" srcset="" sizes="(max-width: 0px) 100vw, 0px" alt="ecuador honeymoon, happy couple on the beach"></noscript>
      </div>
      <div class="deal-card__content">
          <h2 class="deal-card__content__title">
            Kathakali
          </h2>
          <div class="deal-card__content__cta">
              <p >
                Kathakali is a traditional form of classical Indian dance, and one of the most complex forms of Indian theatre. It is a "story play" genre of art, but one distinguished by the elaborately colourful make-up and costumes of the traditional male actor-dancers
              </p>
          </div>
      </div>
  </a>

          <!-- Card 3 -->
  <a class="deal-card" href="https://www.rainforestcruises.com/solo-cruise-deals">
      <div class="deal-card__image">
          <img src="https://www.tripsavvy.com/thmb/_3Tm8T8GU_-9LlD4PsPb3orHjlc=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/Jatayu-National-Park-Kerala-1024x512_Snapseed-5aafa43eff1b780036c19082.jpg" srcset="" alt="Solo traveler female in front of window at hotel" sizes="(max-width: 0px) 100vw, 0px" class="lazyloaded" data-ll-status="loaded"><noscript><img src="https://res.cloudinary.com/rainforest-cruises/images/c_fill,g_auto/f_auto,q_auto/w_650,h_425,c_fill,g_auto/v1620063358/Experience-Solo-Traveler-Main/Experience-Solo-Traveler-Main-650x425.jpg" srcset="" sizes="(max-width: 0px) 100vw, 0px" alt="Solo traveler female in front of window at hotel"></noscript>
      </div>
      <div class="deal-card__content">
          <h2 class="deal-card__content__title">
            Jatayu Earth Center               </h2>
          <div class="deal-card__content__cta">
              <p >
                Jatayu Earth Center, also known as Jatayu Nature Park or Jatayu Rock, is a park and tourism centre at Chadayamangalam in Kollam district of Kerala, India.
              </p>
          </div>
      </div>
  </a>


</div>
<!-- Feature Row -->
<div class="deals-hero__row">

  <!-- Feature-->
  <a class="deal-card deal-card--wide" href="https://www.rainforestcruises.com/yacht-charter-special-offers">
      <div class="deal-card__image">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLwpNB-kM_StntJV001yHijIGSIj7Heq3Cck0245zVqxI_BLHpx4cgHm65_lkp7AxRDrc&usqp=CAU" srcset="" alt="Family Cruises" sizes="(max-width: 0px) 100vw, 0px" class="lazyloaded" data-ll-status="loaded"><noscript><img src="https://res.cloudinary.com/rainforest-cruises/images/c_fill,g_auto/f_auto,q_auto/w_1100,h_350,c_fill,g_auto/v1619008679/Family-Cruises/Family-Cruises-1100x350.jpg" srcset="" sizes="(max-width: 0px) 100vw, 0px" alt="Family Cruises"></noscript>
      </div>
      <div class="deal-card__content">
          <h2 class="deal-card__content__title">
              Visit {{district.title}}              </h2>
          <div class="deal-card__content__cta">

          </div>
      </div>
  </a>
</div>

</div>    </section>
