<section class="deals-page__section-hero">
  <div class="deals-hero">
    <h2 class="sub-divider destination-main__experiences-title   ">
      {{district.title}}
     </h2>

<div class="deals-hero__subtext">
  <p>{{district_description}}</p>
</div>

<!-- A -->
<!-- Triple Row -->
<div class="deals-hero__row">

  <!-- Card 1 -->
  <a class="deal-card" href="">
      <div class="deal-card__image">
          <img [src]="district.image" srcset="" alt="Two sea lions on the beach" sizes="(max-width: 0px) 100vw, 0px" class="lazyloaded" data-ll-status="loaded"><noscript>
            <!-- <img src="https://res.cloudinary.com/rainforest-cruises/images/c_fill,g_auto/f_auto,q_auto/w_650,h_425,c_fill,g_auto/v1622764431/Galapagos-Islands-Weather-Summer/Galapagos-Islands-Weather-Summer-650x425.jpg" srcset="" sizes="(max-width: 0px) 100vw, 0px" alt="Two sea lions on the beach"> -->
          </noscript>
      </div>
      <div class="deal-card__content">
          <h2 class="deal-card__content__title">
              Summer Specials                </h2>
          <div class="deal-card__content__cta">
              <button class="btn-cta-round btn-cta-round--white btn-cta-round--medium">
                  View Deals
              </button>
          </div>
      </div>
  </a>


  <!-- Card 2 -->
  <a class="deal-card" href="https://www.rainforestcruises.com/family-cruise-deals">
      <div class="deal-card__image">
          <img src="https://res.cloudinary.com/rainforest-cruises/images/c_fill,g_auto/f_auto,q_auto/w_650,h_425,c_fill,g_auto/v1626424092/Family-Skiff-Testimonial/Family-Skiff-Testimonial-650x425.jpg" srcset="" alt="Happy Family On A Skiff in The Amazon" sizes="(max-width: 0px) 100vw, 0px" class="lazyloaded" data-ll-status="loaded"><noscript><img src="https://res.cloudinary.com/rainforest-cruises/images/c_fill,g_auto/f_auto,q_auto/w_650,h_425,c_fill,g_auto/v1626424092/Family-Skiff-Testimonial/Family-Skiff-Testimonial-650x425.jpg" srcset="" sizes="(max-width: 0px) 100vw, 0px" alt="Happy Family On A Skiff in The Amazon"></noscript>
      </div>
      <div class="deal-card__content">
          <h2 class="deal-card__content__title">
              Family Cruise Deals                </h2>
          <div class="deal-card__content__cta">
              <button class="btn-cta-round btn-cta-round--white btn-cta-round--medium">
                  View Deals
              </button>
          </div>
      </div>
  </a>

          <!-- Card 3 -->
  <a class="deal-card" href="https://www.rainforestcruises.com/christmas-and-new-years-cruise-deals">
      <div class="deal-card__image">
          <img src="https://res.cloudinary.com/rainforest-cruises/images/c_fill,g_auto/f_auto,q_auto/w_650,h_425,c_fill,g_auto/v1627213746/Christmas-Traditions-in-Peru-Arequipa-tree/Christmas-Traditions-in-Peru-Arequipa-tree-650x425.jpg" srcset="" alt="Christmas tree in front of the Cathedral" sizes="(max-width: 0px) 100vw, 0px" class="lazyloaded" data-ll-status="loaded"><noscript><img src="https://res.cloudinary.com/rainforest-cruises/images/c_fill,g_auto/f_auto,q_auto/w_650,h_425,c_fill,g_auto/v1627213746/Christmas-Traditions-in-Peru-Arequipa-tree/Christmas-Traditions-in-Peru-Arequipa-tree-650x425.jpg" srcset="" sizes="(max-width: 0px) 100vw, 0px" alt="Christmas tree in front of the Cathedral"></noscript>
      </div>
      <div class="deal-card__content">
          <h2 class="deal-card__content__title">
              Christmas &amp; New Year Cruise Deals                </h2>
          <div class="deal-card__content__cta">
              <button class="btn-cta-round btn-cta-round--white btn-cta-round--medium">
                  View Deals
              </button>
          </div>
      </div>
  </a>


</div>
<!-- Feature Row -->
<div class="deals-hero__row">

  <!-- Feature-->
  <a class="deal-card deal-card--wide" href="https://www.rainforestcruises.com/last-minute-cruise-deals">
      <div class="deal-card__image">
          <img src="https://res.cloudinary.com/rainforest-cruises/images/c_fill,g_auto/f_auto,q_auto/w_1100,h_350,c_fill,g_auto/v1645017942/Evolution-Sunset/Evolution-Sunset-1100x350.jpg" srcset="" alt="evolution-galapagos-cruise-promotion-may-2022" sizes="(max-width: 0px) 100vw, 0px" class="lazyloaded" data-ll-status="loaded"><noscript><img src="https://res.cloudinary.com/rainforest-cruises/images/c_fill,g_auto/f_auto,q_auto/w_1100,h_350,c_fill,g_auto/v1645017942/Evolution-Sunset/Evolution-Sunset-1100x350.jpg" srcset="" sizes="(max-width: 0px) 100vw, 0px" alt="evolution-galapagos-cruise-promotion-may-2022"></noscript>
      </div>
      <div class="deal-card__content">
          <h2 class="deal-card__content__title">
              Last Minute Cruise Deals                </h2>
          <div class="deal-card__content__cta">
              <button class="btn-cta-round btn-cta-round--white btn-cta-round--medium">
                  View Deals
              </button>
          </div>
      </div>
  </a>
</div>

<!-- B -->
<!-- Triple Row -->
<div class="deals-hero__row">

  <!-- Card 1 -->
  <a class="deal-card" href="https://www.rainforestcruises.com/winter-cruise-deals">
      <div class="deal-card__image">
          <img src="https://res.cloudinary.com/rainforest-cruises/images/c_fill,g_auto/f_auto,q_auto/w_650,h_425,c_fill,g_auto/v1626698133/shutterstock_638712340-patagonia-winter/shutterstock_638712340-patagonia-winter-650x425.jpg" srcset="" alt="Fitz Roy Mountain In Patagonia" sizes="(max-width: 0px) 100vw, 0px" class="lazyloaded" data-ll-status="loaded"><noscript><img src="https://res.cloudinary.com/rainforest-cruises/images/c_fill,g_auto/f_auto,q_auto/w_650,h_425,c_fill,g_auto/v1626698133/shutterstock_638712340-patagonia-winter/shutterstock_638712340-patagonia-winter-650x425.jpg" srcset="" sizes="(max-width: 0px) 100vw, 0px" alt="Fitz Roy Mountain In Patagonia"></noscript>
      </div>
      <div class="deal-card__content">
          <h2 class="deal-card__content__title">
              Winter Cruise Deals                </h2>
          <div class="deal-card__content__cta">
              <button class="btn-cta-round btn-cta-round--white btn-cta-round--medium">
                  View Deals
              </button>
          </div>
      </div>
  </a>


  <!-- Card 2 -->
  <a class="deal-card" href="https://www.rainforestcruises.com/honeymoon-cruise-deals">
      <div class="deal-card__image">
          <img src="https://res.cloudinary.com/rainforest-cruises/images/c_fill,g_auto/f_auto,q_auto/w_650,h_425,c_fill,g_auto/v1625766485/shutterstock_1634860840-Main/shutterstock_1634860840-Main-650x425.jpg" srcset="" alt="ecuador honeymoon, happy couple on the beach" sizes="(max-width: 0px) 100vw, 0px" class="lazyloaded" data-ll-status="loaded"><noscript><img src="https://res.cloudinary.com/rainforest-cruises/images/c_fill,g_auto/f_auto,q_auto/w_650,h_425,c_fill,g_auto/v1625766485/shutterstock_1634860840-Main/shutterstock_1634860840-Main-650x425.jpg" srcset="" sizes="(max-width: 0px) 100vw, 0px" alt="ecuador honeymoon, happy couple on the beach"></noscript>
      </div>
      <div class="deal-card__content">
          <h2 class="deal-card__content__title">
              Honeymoon Cruise Deals                </h2>
          <div class="deal-card__content__cta">
              <button class="btn-cta-round btn-cta-round--white btn-cta-round--medium">
                  View Deals
              </button>
          </div>
      </div>
  </a>

          <!-- Card 3 -->
  <a class="deal-card" href="https://www.rainforestcruises.com/solo-cruise-deals">
      <div class="deal-card__image">
          <img src="https://res.cloudinary.com/rainforest-cruises/images/c_fill,g_auto/f_auto,q_auto/w_650,h_425,c_fill,g_auto/v1620063358/Experience-Solo-Traveler-Main/Experience-Solo-Traveler-Main-650x425.jpg" srcset="" alt="Solo traveler female in front of window at hotel" sizes="(max-width: 0px) 100vw, 0px" class="lazyloaded" data-ll-status="loaded"><noscript><img src="https://res.cloudinary.com/rainforest-cruises/images/c_fill,g_auto/f_auto,q_auto/w_650,h_425,c_fill,g_auto/v1620063358/Experience-Solo-Traveler-Main/Experience-Solo-Traveler-Main-650x425.jpg" srcset="" sizes="(max-width: 0px) 100vw, 0px" alt="Solo traveler female in front of window at hotel"></noscript>
      </div>
      <div class="deal-card__content">
          <h2 class="deal-card__content__title">
              Solo Cruise Deals                </h2>
          <div class="deal-card__content__cta">
              <button class="btn-cta-round btn-cta-round--white btn-cta-round--medium">
                  View Deals
              </button>
          </div>
      </div>
  </a>


</div>
<!-- Feature Row -->
<div class="deals-hero__row">

  <!-- Feature-->
  <a class="deal-card deal-card--wide" href="https://www.rainforestcruises.com/yacht-charter-special-offers">
      <div class="deal-card__image">
          <img src="https://res.cloudinary.com/rainforest-cruises/images/c_fill,g_auto/f_auto,q_auto/w_1100,h_350,c_fill,g_auto/v1619008679/Family-Cruises/Family-Cruises-1100x350.jpg" srcset="" alt="Family Cruises" sizes="(max-width: 0px) 100vw, 0px" class="lazyloaded" data-ll-status="loaded"><noscript><img src="https://res.cloudinary.com/rainforest-cruises/images/c_fill,g_auto/f_auto,q_auto/w_1100,h_350,c_fill,g_auto/v1619008679/Family-Cruises/Family-Cruises-1100x350.jpg" srcset="" sizes="(max-width: 0px) 100vw, 0px" alt="Family Cruises"></noscript>
      </div>
      <div class="deal-card__content">
          <h2 class="deal-card__content__title">
              Charter Cruise Deals                </h2>
          <div class="deal-card__content__cta">
              <button class="btn-cta-round btn-cta-round--white btn-cta-round--medium">
                  View Deals
              </button>
          </div>
      </div>
  </a>
</div>

</div>    </section>
