<app-topimage></app-topimage>
<section class="destination-page__section-main">

  <div class="destination-main">

      <!-- Map Background -->
      <div class="destination-main__bg">
        <img src="https://res.cloudinary.com/rainforest-cruises/images/c_fill,g_auto/f_auto,q_auto/v1660061309/Tiger-Sketch/Tiger-Sketch.png" alt="" style="width:95%; margin-left: 20px;">
    </div>

      <!-- Intro -->
      <div class="destination-main__intro">
          <div class="destination-main__intro__description">

              <h2 class="destination-main__intro__description__title" id="intro">
                  Why Visit Kerala ?            </h2>
              <div class="destination-main__intro__description__text">
                  <p>Nestled on the southern coast of India, Kerala is a jewel of enchanting beauty and rich cultural heritage that beckons to be explored. Flanked by pristine beaches, tranquil backwaters, abundant wildlife, and delectable cuisine, this destination promises an unforgettable experience on the Malabar Coast.</p>
  <p>Kerala, located on the south-western tip of India, enjoys unique geographical features that have made it one of the most sought-after tourist destinations in Asia. Fondly referred to as ‘God’s Own Country’, Kerala was selected by the National Geographic Traveller as one of the 50 destinations of a lifetime and one of the thirteen paradises in the world.</p>
              </div>


          </div>

      </div>

  </div>
 </section>



 <h2 class="sub-divider destination-main__experiences-title   ">
  Kerala TOP Destinations
</h2>


 <app-card  [data]="topdestination" > </app-card>
