<div class="page-banner aem-GridColumn aem-GridColumn--default--12">
    <div data-habitat="C1">
      <section class="relative mb-16 md:mb-20 min-h-[444px] -mt-16 lg:-mt-20">
        <div class="relative undefined " id="homeBanner">
          <div class="relative flex items-center justify-center h-[580px] overflow-hidden max-h-[550px]">
            <div id="picture" class="w-full h-full relative top-0 bottom-0 left-0 right-0 transition duration-300 ease-in-out rounded-s-lg rounded-e-lg absolute z-0 w-auto min-w-full min-h-full">
              <picture>
                <source srcset="https://scth.scene7.com/is/image/scth/Things-To-Do:crop-460x620?defaultImage=Things-To-Do&amp;wid=820&amp;hei=1105 820w" media="(max-width: 1023px)">
                <source srcset="https://scth.scene7.com/is/image/scth/Things-To-Do:crop-1920x768?defaultImage=Things-To-Do&amp;wid=1500&amp;hei=600 1500w">
                <img data-src="https://scth.scene7.com/is/image/scth/Things-To-Do:crop-1920x768?defaultImage=Things-To-Do" class="w-full h-full object-cover ls-is-cached lazyloaded" src="https://scth.scene7.com/is/image/scth/Things-To-Do:crop-1920x768?defaultImage=Things-To-Do">
              </picture>
            </div>
            <div class="banner-text">
                <h4 >
                  All Things To Do
                </h4>
              </div>
          </div>
        </div>
      </section>
    </div>
  </div>


  