
  .page-banner {
    position: relative;
    overflow: hidden;
    margin-top: 90px;
  }

  .page-banner img {
    display: block;
    width: 100%;
    height: auto; /* Ensure image maintains aspect ratio */
  }

  .banner-text h4 {
    font-family: 'Poppins', sans-serif;
    position: absolute;
    top: 50%; /* Adjust this value to position the text vertically */
    left: 30%; /* Center horizontally */
    transform: translateX(-50%);
    text-align: center; /* Center text */
    color: white; /* Text color */ /* Adjust font size as needed */
    font-weight: bold;
    font-size:50px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Text shadow */
    width: 80%; /* Limit text width if needed */
    max-width: 600px; /* Maximum width for responsive design */
    padding: 20px; /* Add padding to text */
   ; /* Semi-transparent background */
  }

  /* Adjust for responsiveness */
  @media (max-width: 768px) {
    .banner-text {
      font-size: 3rem;
    }
  }

